.img-container {
    margin: auto;
    margin-top: 20px;
    height: 400px;
    width: 100%;
}

.img-container h4 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.img-container img {
    height: 100%;
    width: 100%;
}